.Form-container{
    width: 50vw;
    display: inline-block;
    background-color:  white;
    border-radius: 10px;
    /* margin-left: 20%; */
    /* box-shadow: 30px 0px 30px 0px rgb(251, 205, 213); */
    text-align: center;
    padding: 40px;
}

.Form-main-container{
    width: 100%;
    padding: 40px;
    /* height: 100vh; */
    background-color: beige;
    box-shadow: 30px 0px 30px 0px lightgrey;
    padding: 10px;
}